@model WebApiForManageVisitors.Models.tbl_DepartmentMaster

@{
    ViewBag.Title = "Details";
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Department Master Details
        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("  Back to List", "Index")</small>
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Edit", new { id = Model.DepartmentID })" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Edit
        </a>
    </div>
</div>
<div class="content-header clearfix">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentCreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentCreateDate)
        </dd>

    </dl>
</div>
</div>