
@model WebApiForWorkPermitSystem.Models.LoginViewModel
@{
    Layout = null;
}
<style>
    .ForError {
        /*font-weight: bold;*/
        color: red;
    }
</style>



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mahindra|Log In</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../plugins/iCheck/square/red.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page" >
    <div class="login-box " >
        <div class="login-logo">
            <a href="#"><b style="font-family:Arial;color:darkblue">Mahindra & Mahindra</b></a>

        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            @*<p class="login-box-msg">Sign in</p>*@

            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, @class = "form-group has-feedback" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

               
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email/UserName",style = "margin-bottom: 5px" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "ForError" })
                    </div>


                    <div class="editor-field">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", style = "margin-bottom: 5px" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "ForError" })
                    </div>
                  
                    <div class="editor-label">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>


                    <input style="margin-top: 5px; margin-bottom: 8%" class="btn btn-primary col-lg-12" type="submit" value="Log in" />
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    }

                </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    <script src="../plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="../plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>
