@model WebApiForManageVisitors.Models.tbl_DepartmentEmployeeRegistration

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function getDesignation() {
        debugger;
        var stateId = $("#DepartmentDropDown").val();
        $.ajax({
            url: '@Url.Action("GetDesignationByID", "EmployeeRegistration")',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({ id: +stateId }),
            success: function (result) {
                $("#DesignationDropDown").html("");
                $("#DesignationDropDown").append
                ($('<option></option>').val(null).html("---Select Designation---"));
                $.each($.parseJSON(result), function (i, Designation) {
                    $("#DesignationDropDown").append($('<option></option>').val(Designation.DesignationID).html(Designation.DesignationName))
                })

            },
            error: function () { alert("Whooaaa! Something went wrong..") },
        });
    }
</script>


@using (Html.BeginForm("Create", "EmployeeRegistration", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Employee Registration
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("  Back to List", "Index")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                SUBMIT
            </button>
        </div>
    </div>
        <div class="content-header clearfix">
            <div class="box box-info">
                <div class="box-body">
                    <form action="#" method="post">

                        <div class="form-group">
                            <input type="text" class="form-control" name="EmployeeTokenNo" style="width:50%;" placeholder="Token No.">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="EmployeeName" style="width:50%;" placeholder="Employee Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="EmployeeAddress" style="width:50%;" placeholder="Employee Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="EmployeeContactNo" style="width:50%;" placeholder="Contact No.">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="EmployeeEmailID" style="width:50%;" placeholder="Email ID">
                        </div>
                        <style>
                            .MakeWide {
                                width: 300px;
                                height: 30px;
                            }
                        </style>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.EmployeeDepartmentID, (ViewBag.DepartmentCombo) as SelectList, "--Select Department--", new { id = "DepartmentDropDown", onchange = "getDesignation()", @class = "MakeWide" })
                        </div>

                        <div class="form-group">
                            @Html.DropDownList("DesignationCombo", (ViewBag.DesignationCombo) as SelectList, "--Select Designation--", new { id = "DesignationDropDown", @class = "MakeWide" })
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="EmployeePassword" style="width:50%;" placeholder="Password">
                        </div>

                    </form>
                </div>
            </div>
        </div>
}
