@model IEnumerable<WebApiForManageVisitors.Models.ProcessRequestDetailsByRequestIDModel>

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1 class="pull-left">
        Request Process Details
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Create New
        </a>
    </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                         <table id="example1" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmployeeDepartmentName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VisitStartTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VisitEndTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VisitorAccessories)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NoOfVisitors)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VisitorVisitResons)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RequestProcessDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ActivityOwnerStatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AreaOwnerStatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SafetyStatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContractorStatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmployeeName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VisitorName)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                             <tfoot>
                                 <tr>
                                     <th>
                                         @Html.DisplayNameFor(model => model.EmployeeDepartmentName)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.VisitStartTime)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.VisitEndTime)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.VisitorAccessories)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.NoOfVisitors)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.VisitorVisitResons)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.RequestProcessDate)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.ActivityOwnerStatus)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.AreaOwnerStatus)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.SafetyStatus)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.ContractorStatus)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.EmployeeName)
                                     </th>
                                     <th>
                                         @Html.DisplayNameFor(model => model.VisitorName)
                                     </th>
                                 </tr>
                             </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeDepartmentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VisitStartTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VisitEndTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VisitorAccessories)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoOfVisitors)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VisitorVisitResons)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RequestProcessDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActivityOwnerStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AreaOwnerStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SafetyStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContractorStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VisitorName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.RequestProcessSrNo }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.RequestProcessSrNo }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.RequestProcessSrNo })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
