@model IEnumerable<WebApiForManageVisitors.Models.DesignationMasterModel>

@{
    ViewBag.Title = "Index";
}
<section class="content-header">
    <h1 class="pull-left">
        Designation Details
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Create New
        </a>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DesignationID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartmentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DesignationName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DesignationCreateDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DesignationID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartmentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DesignationName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DesignationCreateDate)
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DesignationID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DesignationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DesignationCreateDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.DesignationID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.DesignationID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.DesignationID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
