@model IEnumerable<WebApiForWorkPermitSystem.Models.VendorUserRegistrationModel>

@{
    ViewBag.Title = "Index";
}
<section class="content-header">
    <h1 class="pull-left">
        Vendor Registration Details
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Create New
        </a>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorUserID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorContactNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorEmailID)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.VendorNatureOfWork)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorContractorName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorContractorCoNo)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.VendorPassword)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VendorRegistrationDate)
                                    </th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorUserID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorContactNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorEmailID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorContractorName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorContractorCoNo)
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorUserID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorContactNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorEmailID)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.VendorNatureOfWork)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorContractorName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorContractorCoNo)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.VendorPassword)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VendorRegistrationDate)
                                        </td>*@
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.VendorSrNo }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.VendorSrNo }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.VendorSrNo })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

